---
import Layout from "@/layouts/Layout.astro";
import ArticleCard from "@/components/ArticleCard.astro";
import PageHeader from "@/components/PageHeader.astro";

import { articles } from "@/consts";
import { getCollection } from "astro:content";

export async function getStaticPaths({ paginate }) {
  const data = (await getCollection("articles")).filter(
    (article) => ! article.data.draft
  )

  return paginate(data, { pageSize: 2 });
}
const { page } = Astro.props;
export const prerender = true;
---

<Layout title={articles.title} description={articles.description}>
  <PageHeader
    title={articles.title}
    message={articles.description}
  />
  <section class="grid grid-cols-1 md:grid-cols-3 gap-4">
    { page?.data.map((article) => (
      <ArticleCard
        publishedAt={article.data.publishedAt}
        title={article.data.title}
        description={article.data.description}
        slug={article.slug}
      />
    ))}
  </section>

  {page?.url.prev ? <a href={page?.url.prev}>Previous</a> : null}
  {page?.url.next ? <a href={page?.url.next}>Next</a> : null}
</Layout>