---
import {formatDate, datetime} from "@/utils/formatDate";

type Props = {
  title: string;
  publishedAt: Date;
  description: string;
  slug: string;
};

const { title, publishedAt, description, slug } = Astro.props;
---

<article class="overflow-hidden group relative rounded-lg p-[1px] flex justify-center items-center">
  <div class="rounded-lg hidden group-hover:block animate-gradient w-[250%] h-[500%] absolute -top-[60%] -left-[50%] bg-gradient-to-r from-slate-50 dark:from-slate-900 via-slate-700/40 dark:via-slate-300/40 to-slate-300 dark:to-slate-700 shadow-xl"></div>
    <a class="block h-full w-full relative z-10 rounded-lg bg-slate-50 dark:bg-slate-900 p-6 sm:p-8" href={`/articles/${slug}`}>
      <div class="mt-16 sm:pr-8">
        <h3 class="text-xl font-semibold">{title}</h3>
        <time datetime={datetime(publishedAt)}>{formatDate(publishedAt)}</time>
        <p class="mt-2 text-sm">{description}</p>
      </div>
    </a>
  </div>
</article>